.menu {
    width: 100%;
    min-height: 60px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    @media (min-width: 800px) {
        flex-direction: row;
    }

    .home {
        margin: 1%;
        width: 98%;
        text-align: center;
        align-self: center;

        @media (min-width: 800px) {
            padding-left: 1%;
            padding-right: 1%;
            margin: auto;
            width: 23%;
        }

        a {
            text-decoration: none;
        }
        
        
    }
    .searchBar {
        margin: 1%;
        width: 98%;
        text-align: center;
        align-self: center;
        display: flex;
        flex-direction: column;

        @media (min-width: 800px) {
            margin: auto;
            width: 50%;
            border-radius: 10px;
            flex-direction: row;
        }

        > div {
            text-align: center;
        }

        .dropdown {
            margin: 1%;
            align-self: center;
            width: 80%;

            @media (min-width: 800px) {
                padding: 1%;
                width: 38%;
            }
            
            select {
                margin-left: 1%;
                width: 39%;
                height: 30px;
                font-size: medium;

                @media (min-width: 800px) {
                    width: 50%;
                }
                
            }
        }
        .searchBox {
            width: 80%;
            align-self: center;
            display: flex;
            justify-content: center;
            margin: 1%;
            height: 30px;

            @media (min-width: 800px) {
                padding: 1%;
                width: 58%;
                
            }

            .searchInput {
                border: 1px solid;
                width: 40%;
                padding-left: 2px;
                font-size: medium;
                
                @media (min-width: 800px) {
                    width: 70%;
                }
            }
            .submitInput {
                border: 1px solid;
                border-radius: 5px;
                font-size: medium;
                width: auto;
                @media (min-width: 800px) {
                    min-width: 30%;
                }
            }
        }
    }
    .loginComp { 
        margin: 1%;
        align-self: center;
        width: 98%;
        @media (min-width: 800px) {
            width: 20%;
        }

        div {
            text-align: center;
            margin: 1%;
        }
    }

    .themeComp {
        margin: 1%;
        text-align: center;
        align-self: center;
        width: 98%;
        @media (min-width: 800px) {
            width: 3%;
        }
    }

    div :focus {
        outline: none;
    }
    

    input::-moz-focus-inner, button::-moz-focus-inner { 
        border: 0; 
    }
       
}




